[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reportlab = "*"
peewee = "*"
psycopg2 = "*"
flask = "*"
pillow = "*"
paypalrestsdk = "*"

[dev-packages]

[requires]
python_version = "3.7"
